@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins', sans-serif;

  --font-text-4xl: 32px;

  --color-gray-primary: #f8f6f7;
  --color-gray-primary-dark: #e1dfe1;
  --color-blue-dark: #10151f;
  --color-blue-dark-light: #3e424a;
  --color-red-primary: #ff4000;

  --var-header-height: 80px;
  --var-header-auth-height: 96px;

  --radius-lg: 10px;
}

@utility container {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
}

@utility rounded-lg {
  width: 100%;
  max-width: 100%;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
